body {
  font-family: Pretendard-Regular;
}

li {
  list-style: none;
}

.wrap {
  width: 100%;
  height: 100%;
  background: #F2C84B;
}

.icons {
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.menu {
  position: relative;
  left: calc((100% - 50%) / 2);
  width: 50%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
.menu li {
  width: 100px;
  height: 100px;
  /* display: inline-block; */
  float: left;
  margin-left: 10px;
}
.menu li::after {
  content: "";
  clear: both;
}
.menu li a {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  display: inline-block;
}
.menu li a img {
  width: 60px;
  height: auto;
  padding: 20px;
}

.popup {
  position: absolute;
  width: 80%;
  height: calc(100% - 200px);
  overflow-y: scroll;
}

.topLine {
  width: 100%;
  height: 50px;
  background: #417CF2;
}

.closebutton {
  display: inline-block;
  position: absolute;
  right: 10px;
  line-height: 50px;
  color: #fff;
}

.contents_box {
  width: 100%;
  margin:0;
  background-color: #fff;
}

.title {

}

.small_title_box {

}

.text {

}

.devide {
  width: 100%;
  height: 60px;
}

.plan {

}

/* Color Theme Swatches in Hex */
.NAVER-3D-Icon---The-Family-Month-1-hex { color: #2350D9; }
.NAVER-3D-Icon---The-Family-Month-2-hex { color: #417CF2; }
.NAVER-3D-Icon---The-Family-Month-3-hex { color: #25D997; }
.NAVER-3D-Icon---The-Family-Month-4-hex { color: #96D9B3; }
.NAVER-3D-Icon---The-Family-Month-5-hex { color: #F2C84B; }

/* Color Theme Swatches in RGBA */
.NAVER-3D-Icon---The-Family-Month-1-rgba { color: rgba(34, 80, 216, 1); }
.NAVER-3D-Icon---The-Family-Month-2-rgba { color: rgba(65, 124, 242, 1); }
.NAVER-3D-Icon---The-Family-Month-3-rgba { color: rgba(36, 216, 150, 1); }
.NAVER-3D-Icon---The-Family-Month-4-rgba { color: rgba(149, 216, 178, 1); }
.NAVER-3D-Icon---The-Family-Month-5-rgba { color: rgba(242, 200, 75, 1); }


/* Color Theme Swatches in Hex */
.MOTTI-|-TODO-List-for-Your-Perfect-Day-1-hex { color: #F24B59; }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-2-hex { color: #447EF2; }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-3-hex { color: #5E90F2; }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-4-hex { color: #F2D06B; }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.MOTTI-|-TODO-List-for-Your-Perfect-Day-1-rgba { color: rgba(242, 75, 89, 1); }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-2-rgba { color: rgba(67, 125, 242, 1); }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-3-rgba { color: rgba(94, 143, 242, 1); }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-4-rgba { color: rgba(242, 208, 106, 1); }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-5-rgba { color: rgba(12, 12, 12, 1); }


/* Color Theme Swatches in Hex */
.Sendel-Send-and-Deliver-Packages-1-hex { color: #F2B3D6; }
.Sendel-Send-and-Deliver-Packages-2-hex { color: #B7AEF2; }
.Sendel-Send-and-Deliver-Packages-3-hex { color: #238C6E; }
.Sendel-Send-and-Deliver-Packages-4-hex { color: #2BD999; }
.Sendel-Send-and-Deliver-Packages-5-hex { color: #F2EEEB; }

/* Color Theme Swatches in RGBA */
.Sendel-Send-and-Deliver-Packages-1-rgba { color: rgba(242, 179, 213, 1); }
.Sendel-Send-and-Deliver-Packages-2-rgba { color: rgba(183, 174, 242, 1); }
.Sendel-Send-and-Deliver-Packages-3-rgba { color: rgba(35, 140, 110, 1); }
.Sendel-Send-and-Deliver-Packages-4-rgba { color: rgba(43, 216, 153, 1); }
.Sendel-Send-and-Deliver-Packages-5-rgba { color: rgba(242, 238, 234, 1); }


