/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol, ul, li {
  list-style: none;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #add4d9;
  font-family: Pretendard-Regular;
  font-weight: 500;
  font-size: 16px;
}
a {
  outline: 0;
  text-decoration: none;
}
img {
  border: 0;
}

.wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #F2C84B;
}

.icons {
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.menu {
  position: relative;
  left: calc((100% - 50%) / 2);
  width: 50%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
.menu li {
  width: 80px;
  height: 80px;
  /* display: inline-block; */
  float: left;
  margin-left: 10px;
}
.menu li::after {
  content: "";
  clear: both;
}
.menu li a {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  display: inline-block;
  padding: 20px;
}
.menu li a img {
  width: 40px;
  height: auto;
}

.popup {
  position: absolute;
  top: 20px;
  left: calc((100% - 80%) / 2);
  width: 80%;
  height: calc(100% - 200px);
}

.topLine {
  width: 100%;
  height: 50px;
  background: #2350D9;
}

.closebutton {
  display: inline-block;
  position: absolute;
  right: 10px;
  line-height: 50px;
  color: #fff;
}

.contents_box {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.contents_box::-webkit-scrollbar {
  width: 10px;
  border: 1px solid #fff;
}

.contents_box::-webkit-scrollbar-thumb {
  background-color: #2350D9;
}
.contents_box::-webkit-scrollbar-track {
  background-color: #ddd;
}

.title {
  font-size: 2.0rem;
  font-weight: 800;
}

.contents_box .small_title_contain {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  display: inline-block;
  margin-top: 20px;
}
.contents_box .small_title_box {
  position: absolute;
  top: 10px;
  left: -5px;
  width: calc(100% + 10px);
  height: 20px;
  background-color: #417CF2;
}

.contents_box .small_title {
  position: relative;
  font-size: 1.6rem;
  z-index: 10;
}

.text {

}

.devide {
  width: 100%;
  height: 60px;
}

.plan {

}

.programmer1 {
  display: none;
}

.programmer2 {
  display: none;
}

/* Color Theme Swatches in Hex */
.NAVER-3D-Icon---The-Family-Month-1-hex { color: #2350D9; }
.NAVER-3D-Icon---The-Family-Month-2-hex { color: #417CF2; }
.NAVER-3D-Icon---The-Family-Month-3-hex { color: #25D997; }
.NAVER-3D-Icon---The-Family-Month-4-hex { color: #96D9B3; }
.NAVER-3D-Icon---The-Family-Month-5-hex { color: #F2C84B; }

/* Color Theme Swatches in RGBA */
.NAVER-3D-Icon---The-Family-Month-1-rgba { color: rgba(34, 80, 216, 1); }
.NAVER-3D-Icon---The-Family-Month-2-rgba { color: rgba(65, 124, 242, 1); }
.NAVER-3D-Icon---The-Family-Month-3-rgba { color: rgba(36, 216, 150, 1); }
.NAVER-3D-Icon---The-Family-Month-4-rgba { color: rgba(149, 216, 178, 1); }
.NAVER-3D-Icon---The-Family-Month-5-rgba { color: rgba(242, 200, 75, 1); }


/* Color Theme Swatches in Hex */
.MOTTI-|-TODO-List-for-Your-Perfect-Day-1-hex { color: #F24B59; }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-2-hex { color: #447EF2; }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-3-hex { color: #5E90F2; }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-4-hex { color: #F2D06B; }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.MOTTI-|-TODO-List-for-Your-Perfect-Day-1-rgba { color: rgba(242, 75, 89, 1); }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-2-rgba { color: rgba(67, 125, 242, 1); }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-3-rgba { color: rgba(94, 143, 242, 1); }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-4-rgba { color: rgba(242, 208, 106, 1); }
.MOTTI-|-TODO-List-for-Your-Perfect-Day-5-rgba { color: rgba(12, 12, 12, 1); }


/* Color Theme Swatches in Hex */
.Sendel-Send-and-Deliver-Packages-1-hex { color: #F2B3D6; }
.Sendel-Send-and-Deliver-Packages-2-hex { color: #B7AEF2; }
.Sendel-Send-and-Deliver-Packages-3-hex { color: #238C6E; }
.Sendel-Send-and-Deliver-Packages-4-hex { color: #2BD999; }
.Sendel-Send-and-Deliver-Packages-5-hex { color: #F2EEEB; }

/* Color Theme Swatches in RGBA */
.Sendel-Send-and-Deliver-Packages-1-rgba { color: rgba(242, 179, 213, 1); }
.Sendel-Send-and-Deliver-Packages-2-rgba { color: rgba(183, 174, 242, 1); }
.Sendel-Send-and-Deliver-Packages-3-rgba { color: rgba(35, 140, 110, 1); }
.Sendel-Send-and-Deliver-Packages-4-rgba { color: rgba(43, 216, 153, 1); }
.Sendel-Send-and-Deliver-Packages-5-rgba { color: rgba(242, 238, 234, 1); }


